<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Computed Properties</title>
</head>
<body>
    <div id="app">
        a {{ a }} - b {{ b }} <br>
        {{ biodata }}
    </div>
    <script>
        var vo = new Vue({
            el :'#app',
        data: {
            a: 1,
            nama: "Dwima",
            umur: 25,
            biodata: ''
        },
        computed: {
            biodata: {
                get: function(){
                    return this.nama + " umurnya " + this.umur
                },
            set: function(parameter){
                var cridential = parameter.split('')
                this.nama = cridential[0]
                this.umur = cridential[1]
            }
            }
            // b:function(){
            //     return this.a + 2;
            // },
            // biodata: function(){
            //     return this.nama + "umurnya" + this.umur
            // }
        }
        //fungsi computed properties yaitu merubah nilai-nilai yang tergantung pada nilai lain 
    })
    </script>
    
</body>
</html>