<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-if="done">
        {{biodata}}
    </div>
    <div v-else="done">
        maaf done false.
    </div>
    </div>
    <script>
        var vo = new Vue
    </script>
</body>
</html>