<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Data binding</title>
</head>
<body>
    <div id="app">
        {{ nama }} - {{ sekolah }} - {{{ raw }}}

    </div>
    <script>
        var vo = new Vue{(
            el: '#app',
            data:{
                nama: "Dwima",
                sekolah: "univ Gunadarma",
                umur: 20
            }
        )}
    </script>
    
</body>
</html>